div {
  position: relative;
}
button {
  position: absolute;
  background-color: black;
  color: white;
  right: 8px;
  border-radius: 50%;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 9px;
  border: none;
}